# Aura API Configuration
AURA_API_URL=https://cloud.auraboard.online/api
AURA_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ0ZXN0IiwiZXhwIjoxNzcwODE3Mjc1fQ.MtsUPBWQmCcf-N5SCDTqlRDKO3gLopkfynopMY2k5SQ