# Frozen-Life Character & Weapon Studio Configuration
[Studio]
Version=1.0

[WeaponGrip_0]
Offset=-0.285992,-0.0953307,0.0136186
Rotation=-67.9377,-91.751,-0.700394
Scale=3,3,3
RightPos=0,-0.065,-0.04
RightRot=8,0,-4
LeftPos=-0.01,-0.125,-0.02
LeftRot=12,-5,6
AdsOffset=0,-0.04,0.08

[WeaponSkin_0]
Texture=weapon_pipe.bmp
UvScale=0.964981
Tint=1.12957,1.08599,1.11868
Metallic=1

[WeaponGrip_1]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=-0.015,-0.065,-0.04
RightRot=8,0,-4
LeftPos=-0.055,-0.105,-0.035
LeftRot=14,-12,15
AdsOffset=0,-0.06,0.12

[WeaponSkin_1]
Texture=weapon_pistol.bmp
UvScale=1
Tint=1,1,1
Metallic=0.8

[WeaponGrip_2]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=-0.015,-0.065,-0.04
RightRot=8,0,-4
LeftPos=-0.065,-0.06,-0.26
LeftRot=22,12,-22
AdsOffset=0,-0.07,0.14

[WeaponSkin_2]
Texture=weapon_shotgun.bmp
UvScale=1
Tint=1,1,1
Metallic=0.6

[WeaponGrip_3]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=-0.015,-0.065,-0.04
RightRot=8,0,-4
LeftPos=-0.065,-0.06,-0.34
LeftRot=22,12,-22
AdsOffset=0,-0.07,0.15

[WeaponSkin_3]
Texture=weapon_m4a4s.bmp
UvScale=1
Tint=1,1,1
Metallic=0.6

[WeaponGrip_4]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=-0.015,-0.065,-0.04
RightRot=8,0,-4
LeftPos=-0.065,-0.06,-0.34
LeftRot=22,12,-22
AdsOffset=0,-0.07,0.15

[WeaponSkin_4]
Texture=weapon_sg553.bmp
UvScale=1
Tint=1,1,1
Metallic=0.5

[WeaponGrip_5]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=0,-0.05,0.02
RightRot=0,0,0
LeftPos=0,0.08,-0.15
LeftRot=-15,0,0
AdsOffset=0,-0.05,0.1

[WeaponSkin_5]
Texture=weapon_minigun.bmp
UvScale=1
Tint=1,1,1
Metallic=0.8

[WeaponGrip_6]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=-0.015,-0.065,-0.04
RightRot=8,0,-4
LeftPos=-0.065,-0.06,-0.3
LeftRot=20,10,-20
AdsOffset=0,-0.07,0.15

[WeaponSkin_6]
Texture=weapon_plasma.bmp
UvScale=1
Tint=1,1,1
Metallic=0.9

[WeaponGrip_7]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=-0.015,-0.065,-0.04
RightRot=8,0,-4
LeftPos=-0.065,-0.06,-0.36
LeftRot=20,10,-20
AdsOffset=0,-0.07,0.15

[WeaponSkin_7]
Texture=weapon_railgun.bmp
UvScale=1
Tint=1,1,1
Metallic=0.9

[WeaponGrip_8]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=-0.02,-0.08,-0.02
RightRot=5,0,-2
LeftPos=-0.06,-0.05,-0.28
LeftRot=25,15,-15
AdsOffset=0,-0.08,0.16

[WeaponSkin_8]
Texture=weapon_rpg.bmp
UvScale=1
Tint=1,1,1
Metallic=0.4

[ReloadTimeline]
DipDuration=0.35
MagDropTime=0.28
MagInsertTime=0.62
BoltRackTime=0.88
DipDepth=0.08
TiltAngle=18

[CharacterAppearance]
ArmorClass=2
HelmetType=2
VisorColor=0.2,0.85,1
FatiguesColor=0.168288,0.515759,0.634047
